
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f8f8f8;
  color: #29292e;
}

body, input, button, textarea {
  font: 400 16px 'Roboto', sans-serif;
}

@keyframes loadAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity:1
  } 
}